/*.hero {*/
  /*background-color: #4a3a7a;*/
/*}*/

.home-banner {
  background-image: url("../../assets/img/banner.jpg");
}
.tint {
  position: relative;
  float: left;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(44,37,65,0.80);
}

h1 {
  color: white;
}
