<form class="container" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" >
  <div class="columns">
    <div class="column"></div>
    <div class="column is-one-third">
      <div class="card has-text-centered">
        <div class="card-content">
          <h1 class="title">Change Password</h1>
          <div class="field">
            <p class="control has-icons-left">
              <input formControlName="oldPassword" class="input" type="password" placeholder="Actual password" name="password" [ngClass]="{ 'is-danger': submitted && f.oldPassword.errors }">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
            <div *ngIf="submitted && f.oldPassword.errors">
              <p *ngIf="f.oldPassword.errors.required" class="help is-danger has-text-left">This field is required</p>
            </div>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input formControlName="newPassword" class="input" type="password" placeholder="New password" name="password" [ngClass]="{ 'is-danger': submitted && f.newPassword.errors }">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
            <div *ngIf="submitted && f.newPassword.errors">
              <p *ngIf="f.newPassword.errors.minlength" class="help is-danger has-text-left">The password should be at least 6 characters long</p>
              <p *ngIf="f.newPassword.errors.required" class="help is-danger has-text-left">This field is required</p>
            </div>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input formControlName="confirmPassword" class="input" type="password" placeholder="Confirm password" name="cpassword" [ngClass]="{ 'is-danger': submitted && (f.confirmPassword.errors || passwordsNotMatching) }">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
            <div *ngIf="submitted && f.confirmPassword.errors">
              <p *ngIf="f.confirmPassword.errors.required" class="help is-danger has-text-left">This field is required</p>
              <p *ngIf="f.confirmPassword.errors.passwordsNotMatching" class="help is-danger has-text-left">Passwords don't match</p>
            </div>
          </div>
          <div class="field">
            <p class="control has-text-centered">
              <button class="button">
                Change password
              </button>
            </p>
          </div>

        </div>

      </div>

    </div>
    <div class="column"></div>
  </div>

</form>


