.account-title {
  margin-bottom: 20%;
}
.account-details {
  margin-bottom: 15%;
}
.detail-item {
  margin-bottom: 5%;
}

.subtitle {
  margin-bottom: 3%;
}

.buttons {
  margin-top: 10%;
}

.btn-width {
  width: 9.7em;
}
