<div class="container">
  <div class="columns">
	<div class="column"></div>
	<div class="column is-half">

    <h2 class="title">Submit a new channel</h2>

    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input" id="input" type="text" placeholder="Type channel name here" [(ngModel)]="submittedChannel">
      </div>
      <div class="control">
        <a class="button is-info" (click)="submitChannel()">
          Submit
        </a>
      </div>
    </div>
    <article class="message is-danger" *ngIf="error">
      <div class="message-body">{{message}}</div>
    </article>
    <div class="submitChannelDetails has-text-justified">
      <p>Here you can add a channel if you did not find the one you were looking for. On submitting, we will check that the channel does really exist and add it to our database.</p>
    </div>
  </div>
	<div class="column"></div>
</div>
</div>



