<div class="container profile">
  <div class="columns">
    <div class="column is-half">
      <img [src]="channel.avatar" alt="{{ channel.name }}'s avatar">
    </div>
    <div class="column is-half channel-details">
      <div class="is-vcentered">
        <div class="channel-name">{{ channel.name }}
        <span class="channel-language">{{ channel.language | uppercase }}</span>
        </div>
        <div>Followers : {{ channel.followers | currency:' ':'symbol':'1.0-0'}}</div>
        <div *ngIf="channel.status === 'PARTNER'; else notPartner">
          Status: Partner
        </div>
        <ng-template #notPartner>
          <ng-container *ngIf="channel.status === 'AFFILIATE'; else notAffiliate">
            Status: Affiliate
          </ng-container>
        </ng-template>
        <ng-template #notAffiliate>
          Status: ni Partner, ni affiliate
        </ng-template>
        <div>
          <a href="{{ channel.url }}" target="_blank">Go to Twitch channel </a>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-12">
      <div class="tags-title">TAGS
        <span class="tags-subtitle">Click on a tag to endorse it</span>
      </div>

      <div *ngIf="seeMoreTags === false; else seeMore">
        <app-tag [arr]="tagItems" [channel]="channel" [limit]="5" (updateNeeded)="updateChannelAndTags($event)"></app-tag>

      </div>
      <ng-template #seeMore>
        <div class="field is-grouped is-grouped-multiline">
          <app-tag [arr]="tagItems" [channel]="channel" [limit]="0" (updateNeeded)="updateChannelAndTags($event)"></app-tag>
        </div>
      </ng-template>
      <a *ngIf="tagItems.length > 5" (click)="toggleTags()" class="see-more">{{ seeMoreTagsString }}</a>
    </div>
  </div>
  <div class="columns">
    <div class="column is-12">
      <div class="add-tag-title">
        Want to add a tag to this channel ?
      </div>
      <div class="field has-addons">
        <div class="dropdown is-active is-grouped-centered">
          <p class="control">
            <input type="text" class="input" [(ngModel)]="userInput" (keyup)="filter()" [attr.disabled]="!authenticated == true ? true : null" >
          </p>
          <p class="control">
            <button class="button is-link" (click)="addTag()" [attr.disabled]="!authenticated == true ? true : null">Add to channel</button>
          </p>
          <div class="dropdown-menu"  *ngIf="filteredList.length > 0">
            <div class="dropdown-content">
              <div *ngFor="let tag of filteredList" >
                <a class="dropdown-item" (click)="select(tag)" >{{tag.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="notLogged" *ngIf="!authenticated">
        You must be a member to add tags to channels. Please login or signup !
      </div>
      <a *ngIf="authenticated" (click)="goToSubmitTag()" class="add-tag-subtitle">Don't find the tag you are looking for ? Submit a new one
        here!</a>
    </div>
  </div>
</div>
