.title {
	text-align: center;
	margin-bottom: 100px;
}

.submitChannelDetails {
	margin-top: 50px;
	font-size: 0.75em;
}

.button {
  background-color: #6441a4;
  color: #ffffff;
}

.button:hover {
  background-color: #845ec9;
  color : #f8f8f8;
}
