<section class="hero is-large">
  <figure class="tint">
    <div class="hero-body home-banner">
      <div class="container has-text-centered">
        <h1 class="title">Searching for new twitch channels ?</h1>
        <h2 class="subtitle">Do you want to search by tag or by name ?</h2>
        <div class="buttons has-addons">
          <span class="button" (click)="goToSearchByTags()">BY TAG</span>
          <span class="button" (click)="goToSearchByName()">BY NAME</span>
        </div>
      </div>

    </div>
  </figure>


</section>
<section class="section">
  <app-popular></app-popular>
</section>
