<div class="container">
  <div class="columns">
    <div class="column"></div>
    <div class="column is-half">


          <h1 class="title">You can't remember your password ?</h1>

          <p>We will send you an email with a temporary password to log you in. Don't forget to change it once you are connected.</p>

          <div class="field has-addons reset-password">
            <p class="control has-icons-left is-expanded">
              <input class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
            <p class="control">
              <button class="button is-info">
                Submit
              </button>
            </p>
          </div>



    </div>
    <div class="column"></div>
  </div>

</div>


