.channel-name {
    font-size: 2em;
    margin-top: 5%;
    margin-bottom: 10%;
}

.tags-title {
    font-size: 1.25em;
    margin-bottom: 2%;
}

.tags-subtitle {
    font-style: italic;
    font-size: 0.60em;
}

.see-more {
    float: right;
    font-size: 0.80em;
    margin-right: 10%;
    margin-top: 2%;
}

.profile {
    width: 40%;
}

.add-tag-title {
    margin-top: 5%;
    margin-bottom: 2%;
}

.add-tag-subtitle {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 0.80em;
}

.button {
  background-color: #6441a4;
  color: #ffffff;
}

.button:hover {
  background-color: #845ec9;
  color : #f8f8f8;
}

.channel-details {
  margin-top: 5%;
}

.channel-language {
  font-size: 0.5em;
  vertical-align: text-top;
}
@media (max-width: 768px) {
  .profile {
    width: 95%;
  }
}

@media (max-width: 1215px) {
  .profile {
    width: 60%;
  }
}
