<div *ngIf="isLoggedIn; else loggedOut">
  You are logged in ! Go yo my account ?
</div>

<ng-template #loggedOut>
<form class="container" [formGroup]="loginForm" (ngSubmit)="login()" >
  <div class="columns">
    <div class="column"></div>
    <div class="column is-one-third">

      <div class="card has-text-centered">
        <div class="card-content">
          <h1 class="title">Sign In</h1>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input formControlName="username" name="username" class="input" type="text" placeholder="Username" [ngClass]="{ 'is-danger': submitted && f.username.errors}">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
            <div *ngIf="submitted && f.username.errors">
              <p *ngIf="f.username.errors.required" class="help is-danger has-text-left">This field is required</p>
            </div>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input formControlName="password" name="password" class="input" type="password" placeholder="Password" [ngClass]="{ 'is-danger': submitted && f.username.errors}">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
            <div *ngIf="submitted && f.password.errors">
              <p *ngIf="f.password.errors.required" class="help is-danger has-text-left">This field is required</p>
            </div>
          </div>
          <div class="field">
            <p class="control has-text-centered">
              <button class="button">
                Login
              </button>
            </p>
          </div>
          <div *ngIf="submitted && isLoginFailed" class="alert alert-danger">
            Login failed: username and/or password incorrect
          </div>

        </div>
        <footer class="card-footer">
            <a class="card-footer-item" (click)="goToSignup()" >No account ? Sign up!</a>
            <a class="card-footer-item" (click)="goToForgottenPassword()">Forgot your password ? </a>
        </footer>
      </div>

    </div>
    <div class="column"></div>
  </div>

</form>
</ng-template>
<div class="modal" [ngClass]="{'is-active' : isLoggedIn}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Success !</p>
    </header>
    <section class="modal-card-body">
      <p>You successfully logged in.</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="goToAccount()">Go to my account</button>
      <button class="button" (click)="goToHomepage()">Go to homepage</button>
      <button class="button" (click)="goToAdmin()" *ngIf="isAdmin">Go to admin dashboard</button>
    </footer>
  </div>
</div>

